<div class="navigation">
  <ul class="navigation-list">
    <li><a class="navigation-list-item" routerLink="cabinet/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/phone-numbers" routerLinkActive="active">Phone Numbers</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/address-book" routerLinkActive="active">Address Book</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/call-rules" routerLinkActive="active">Call rules</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/details-and-records" routerLinkActive="active">Details and Records</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/call-mining" routerLinkActive="active">Call Mining</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/invoices" routerLinkActive="active">Invoices</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/storage" routerLinkActive="active">Storage</a></li>
    <li><a class="navigation-list-item no-icon" routerLink="cabinet/tariff-plans" routerLinkActive="active">Tariff Plans</a></li>
    <li><a class="navigation-list-item no-icon" routerLink="cabinet/marketplace" routerLinkActive="active">Marketplace</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/knowledge-base" routerLinkActive="active">Knowledge Base</a></li>
    <li><a class="navigation-list-item" routerLink="cabinet/settings" routerLinkActive="active">Account Settings</a></li>
  </ul>
</div>
